body{
    width:80%;
    text-align: center;
    margin-left: 100px;
}

.grid-container {
    display: grid;
    background-color: white;
    padding: 10px;
    grid-row-gap: 10px;
    grid-column-gap:10px;
  }
  .grid-item {
    background-color:#181D31;
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
    color: white
  }
  .a{
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .b{
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .e{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
  }